.adibidea-vh {
    background-color: lightsteelblue;
    height: 100vh;
}

.adibidea-svh {
    background-color: lightcoral;
    height: 100vh;
    height: 100svh;
}

.adibidea-dvh {
    background-color: lightgreen;
    height: 100vh;
    height: 100dvh;
}

/* Beste itxurak */

body {
    margin: 0;
}

.adibidea {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 0.5em;
}

nav > * {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 0.25rem;
    background-color: firebrick;
    color: white;
}

